<nav ng-controller="messagesCtrl" class="navbar navbar-expand-lg navbar-light bg-light position-fixed side-nav px-3 py-3 d-flex flex-column">
    <a class="navbar-brand mb-3 text-primary" href="#!/"><i class="fab fa-twitter"></i></a>

    <ul class="nav d-flex flex-column mb-auto">
      <li class="nav-item d-flex mb-3">
        <a class="nav-link"><i class="fas fa-home"></i></a>
        <a class="nav-link hide-string pl-3" href="#">Home</a>
      </li>
      <li class="nav-item d-flex mb-3">
        <a class="nav-link"><i class="fas fa-hashtag"></i></a>
        <a class="nav-link hide-string pl-3" href="#">Explore</a>
      </li>
      <li class="nav-item d-flex mb-3">
        <a class="nav-link"><i class="fas fa-bell"></i></a>
        <a class="nav-link hide-string pl-3" href="#">Notifications</a>
      </li>
      <li class="nav-item d-flex mb-3 active-link">
        <a class="nav-link"><i class="fas fa-envelope active-link"></i></a>
        <a class="nav-link hide-string pl-3" href="#">Messages</a>
      </li>
      <li class="nav-item d-flex mb-3">
        <a class="nav-link"><i class="fas fa-bookmark"></i></a>
        <a class="nav-link hide-string pl-3" href="#">Bookmarks</a>
      </li>
      <li class="nav-item d-flex mb-3">
        <a class="nav-link"><i class="fas fa-list"></i></a>
        <a class="nav-link hide-string pl-3" href="#">Lists</a>
      </li>
      <li class="nav-item d-flex mb-3">
        <a class="nav-link"><i class="fas fa-user"></i></a>
        <a class="nav-link hide-string pl-3" href="#">Profile</a>
      </li>
      <li class="nav-item d-flex mb-3">
        <a class="nav-link"><i class="fas fa-chevron-circle-down"></i></a>
        <a class="nav-link hide-string pl-3" href="#">More</a>
      </li>
      <button class="btn btn-primary rounded-pill hide-string text-center mx-auto px-5 py-1">Tweet</button>
    </ul>
</nav>

