*{
    box-sizing: border-box !important;
    margin: 0 !important;
    padding: 0 !important;
}
// CSS files
@import '../node_modules/bootstrap/scss/bootstrap';
// Utilities
@import './utilities/mixins';
@import './utilities/variables';
// Layout
@import './layout/profile';
@import './layout/messages';
